:root {
    --primary-color: #00A78E;
    --secondary-color: #1A2942;
    --text-color: #333;
    --light-color: #fff;
    --button-color: #007E68;
    --button-secondary-color: #00C16E;
}

/* Global Styles */
body {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    overflow-x: hidden;
}

/* Navigation */
.navbar {
    /* background-color: var(--secondary-color); */
    padding: 1rem 10%;
    transition: all 0.3s ease;
    position: fixed;
    width: 100%;
    top: 0;
    /* z-index: 1000; */
}

.navbar.scrolled {
    background-color: rgba(26, 41, 66, 0.95);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: var(--light-color);
    font-weight: 700;
}

.nav-link {
    color: var(--light-color);
    margin: 0 1rem;
}

.hire-me {
    background-color: var(--primary-color);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
}

/* Hero Section */
.hero {
    /* Photo by Ylanite Koppens: https://www.pexels.com/photo/magic-keyboard-beside-coffee-mug-on-desk-796601/ */
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* padding: 8rem 0; */
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 47, 52, 0.85); /* var(--secondary-color) with opacity */
    z-index: 1;
}

/* Ensure content appears above overlay */
.hero .container {
    position: relative;
    padding: 0 3%;
    z-index: 2;
}

.hero h1 {
    color: var(--light-color);
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.typing-text {
    display: inline-block;
    width: max-content;
    position: relative;
    color: transparent;
    -webkit-text-stroke: 2px var(--light-color);
    font-size: 3.5rem;
    font-weight: 700;
    border-right: 2px solid var(--light-color);
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 3.5s steps(40, end),
        blink .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: var(--light-color); }
}

.typing-text.waiting {
    width: 0;
}

.typing-text.typing {
    animation: typing 3.5s steps(40, end);
}

.typing-text.deleting {
    animation: deleting 2s steps(40, end);
}

@keyframes deleting {
    from { width: 100% }
    to { width: 0 }
}

.hero p {
    color: var(--light-color);
    opacity: 0.8;
    margin-bottom: 2rem;
}

.hero-buttons .btn {
    margin-right: 1rem;
    padding: 0.75rem 2rem;
    border-radius: 30px;
}

.hero .col-lg-6:last-child {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    bottom: 0;
    top: 10vh;
}

.hero .img-fluid {
    max-width: 80%;
    height: 80vh;
    border-radius: 20px;
    transition: transform 0.3s ease;
    z-index: 2;
}

.btn-primary {
    background-color: var(--primary-color);
    border: none;
}

.btn-outline {
    border: 2px solid var(--light-color);
    color: var(--light-color);
}

/* About Section */
.about {
    padding: 100px 10%;
}

.about .row {
    align-items: center;
}

.about h3 {
    color: #8C8F91;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.about h2 {
    font-size: 2.0rem;
    margin-bottom: 1.5rem;
    line-height: 1.4;
}

.about-content {
    font-size: 1rem;
    /* text-align: center; */
    max-width: 600px;
    margin: 0 auto;
    /* padding: 0rem 2rem; */
}

.about .img-fluid {
    max-width: 85%;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    /* border-radius: 15px; */
    display: block;
    /* margin: 0 auto; */
}

.about .img-fluid:hover {
    filter: grayscale(0%);
}

.personal-info {
    margin: 1.5rem 0;
    font-size: 1rem;
}

.personal-info .row {
    justify-content: center;
}

.personal-info span {
    font-weight: 600;
    margin-right: 10px;
    color: var(--secondary-color);
}

.social-links {
    margin-bottom: 1.5rem;
    display: flex;
}

.social-links p {
    padding: 0rem 1rem 0rem 0rem;
    font-weight: bolder;
    align-content: center;
    margin-bottom: 0;
}

.social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 35px;
    height: 35px;
    font-size: 0.9rem;
    border-radius: 50%;
    color: var(--button-color);
    margin-right: .5rem;
    transition: all 0.3s ease;
}

.social-link:hover {
    transform: translateY(-3px);
    background: var(--secondary-color);
    color: var(--light-color);
}

.cta-buttons .btn {
    margin-right: 1rem;
    padding: 0.6rem 1.8rem;
    font-size: 0.9rem;
    border-radius: 30px;
}

.cta-buttons .btn-primary {
    background-color: var(--button-color);
}

.cta-buttons .btn-secondary {
    background-color: var(--button-secondary-color);
}

/* .skill {
    margin-bottom: 1.5rem;
}

.skill-name {
    margin-bottom: 0.5rem;
}

.progress {
    height: 8px;
    background-color: #f0f0f0;
}

.progress-bar {
    background-color: var(--primary-color);
} */

/* Services Section */
.services {
    padding: 100px 10%;
    background-color: #f8f9fa;
}

.services .container .section-title {
    margin-bottom: 4rem;
}

.service-box {
    padding: 2rem;
    text-align: center;
    background: white;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin-bottom: 2rem;
}

.service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.service-box i {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}

.services-slider {
    position: relative;
    overflow: hidden;
}

.current-services,
.additional-services {
    transition: transform 0.5s ease;
}

.additional-services {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    opacity: 0;
}

.more-services-btn {
    background: transparent;
    border: none;
    color: var(--primary-color);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.more-services-btn i {
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
}

.more-services-btn:hover i {
    transform: translateX(5px);
}

/* Skills Section */
.skills {
    padding: 100px 10%;
    background-color: #f8f9fa;
}

.skills-content {
    padding-left: 2rem;
}

.skills-content h3 {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.skills-content h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.skills-wrapper {
    max-width: 600px;
}

.skill {
    margin-bottom: 2rem;
}

.skill-name {
    font-weight: 500;
}

.skill-percentage {
    color: var(--primary-color);
    font-weight: 600;
}

.progress {
    height: 8px;
    background-color: #e9ecef;
    border-radius: 4px;
    overflow: hidden;
}

.progress-bar {
    background-color: var(--primary-color);
    transition: width 1s ease;
}

/* Statistics Section */
.statistics {
    padding: 80px 0;
}

.stat-box {
    text-align: center;
    padding: 2rem;
}

.stat-box h3 {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

/* Portfolio Section */
.portfolio {
    
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,167,142,0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio-overlay h4 {
    color: white;
    margin-bottom: 1rem;
}

.portfolio-link {
    color: white;
    font-size: 1.5rem;
}

.container-portfolio{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #00C16E;
}

.major-image-div{
    display: flex;
    flex-direction: column;
    padding: 30px;
    flex: 6;
    background-color: lightgray;
    

}

.green-badges {
    flex: 4; /* 40% of container */
    background-color: #007E68;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.row g-4 mb-5{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-template-rows: repeat(2, 1fr);    /* 2 equal rows */
    gap: 5px; /* space between items */
    width: 100%;   /* Set width of the grid */
    height: 200px;
    
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    width: 100%; /* full width of parent */
    height: 150px; /* fixed height you choose */
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ensures images cover the area without distortion */
    display: block;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 128, 0, 0.5); /* semi-transparent green overlay */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0; /* start invisible */
    transition: opacity 0.3s ease;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1; /* show on hover */
}


.green-badges img {
    max-width: 80%;
    height: auto;
}




